<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>
    <!-- IF THE USER IS CONNECTED -->
    <div *ngIf="isUserConnected">

        <div class="flex admin-menu">
            <li (mouseover)="displayAdminMenu=true" (mouseout)="displayAdminMenu=false">
                {{ 'Global.Admin' | translate }}
                <ul *ngIf="displayAdminMenu">{{ 'Global.Classes' | translate }}</ul>
                <ul *ngIf="displayAdminMenu">{{ 'Global.Subclasses' | translate }}</ul>
            </li>
        </div>
        <div class="flex justify-end">
            <button class="logout-button" (click)="LogOut()">{{ 'Global.LogOut' | translate }}</button>    
        </div>
    </div>

    <!-- IF THE USER IS NOT CONNECTED -->
    <div *ngIf="!isUserConnected">

    </div>

    <router-outlet></router-outlet>
</body>
</html>
