<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>
    <!-- IF THE USER IS CONNECTED -->
    <div *ngIf="isUserConnected">

        <div class="dropdown mt-10 mb-10">
            <button class="dropbtn mr-10">{{ 'Global.Admin' | translate }}</button>
            <div class="dropdown-content">
              <a (click)="GoToClassList()">{{ 'Global.Classes' | translate }}</a>
              <a href="#">{{ 'Global.Subclasses' | translate }}</a>
            </div>
        </div>
        <button class="logout-button mr-10" (click)="LogOut()">{{ 'Global.LogOut' | translate }}</button>
    </div>

    <!-- IF THE USER IS NOT CONNECTED -->
    <div *ngIf="!isUserConnected">

    </div>

    <router-outlet></router-outlet>
</body>
</html>
