<div id="title-field" class="mb-20">
    <label class="page-title">{{ 'Home.Title' | translate}}</label>
</div>
<div id="connexion-field" class="connexion-field">
    <label>{{ 'Home.Username' | translate }}</label>
    <input type="text" id="username" name="username" required size="10" [(ngModel)]="user_name">
    <label>{{ 'Home.Password' | translate }}</label>
    <input type="text" id="password" name="password" type="password" size="10" [(ngModel)]="user_pwd">
    <button class="ml-10 connect-button" (click)="ConnectUser()">{{ 'Home.Connect' | translate}}</button>
</div>
