<div id="title-field" class="mb-20">
    <label class="page-title">{{ 'Home.Title' | translate}}</label>
</div>
<div id="connexion-field" class="connexion-field">
    <label>{{ 'Home.Username' | translate }}</label>
    <input type="text" id="username" name="username" required size="10" [(ngModel)]="user_name">
    <label>{{ 'Home.Password' | translate }}</label>
    <input type="text" id="password" name="password" type="password" size="10" [(ngModel)]="user_pwd">
    <button class="ml-10 connect-button" (click)="ConnectUser()">CONNECT</button>
    <button class="ml-10 connect-button" (click)="CheckToken()">CHECK TOKEN</button>
</div>
<div>
    <label *ngIf="LogInSuccess">{{ 'Home.OnConnectionSuccess1' | translate }}{{user_name}}{{ 'Home.OnConnectionSuccess2' | translate }}</label>
</div>